body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#title {
    text-align: center;
}

#button-container {
    text-align: center;
}

#button {
    background-color: #0ea490;
    color: #ffffff;
    font-size: 2rem;       
    width: 150px;         
    height: 80px;        
    border-radius: 12px;  
}

#scan_results {
    color: #ffffff;
    text-align: center;
}